# Django
SECRET_KEY=change-me-to-a-long-random-secret-key
DEBUG=True
# Add your domain here, separate with commas (localhost for dev, domain for prod)
ALLOWED_HOSTS=localhost,127.0.0.1,dos-comp.epsilon.fr

# PostgreSQL
POSTGRES_DB=cvdb
POSTGRES_USER=cvuser
POSTGRES_PASSWORD=changeme
